
body {
    background-image: url('');
    color: cyan;
    background-color: black;
background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20201009/pngtree-science-or-technology-background-with-dynamic-particles-trendy-colorful-design-template-image_406781.jpg);



}



img {

    height: 20px;
    width: 20px;
}




p{


}


.länkar

{
color: aliceblue;



}


.länkar
{
 padding: 5px;
 border-style: solid;
    text-decoration: none;
}
a:visited{

color: aliceblue;

}


button{

background-color: chartreuse;



}










