
body {
    background-image: url('https://media.tenor.com/eRNB_r_TvyIAAAAM/metallic-ride-the-lightening.gif' );
    color: blue;
    background-color: black;

    
<img src="https://media.giphy.com/media/3xEhyO44jFWeTe3di8/giphy.gif" alt="aletrnate description of the image" width="600" height="400">



}






p{


background-color: rgba(0, 0, 0, 0.815);
padding: 50px;
margin-left: 10%;
margin-right: 10%;
border-radius: 70%;




}

h1 {
 font-family: fantasy;




}


h3 {


background-color: chartreuse;
font-style: inherit;
text-decoration: underline;
width: fit-content;
border-radius: 30px;
padding: 1%;


}


button{

background-color: chartreuse;



}











